# Build Output
**/node_modules
**/build
frontend/.svelte-kit

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# can we change this directory to put it under build?  Or, include a gitignore from the backend folder?
backend/cdk.out

# Are some of these settings useful?  Can some be shared on not others?
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Env
**/.env
**/.env.*
**/!.env.example
**/!.env.test